h1 {
    color: #333 !important;
}


.menu-header {
    text-align: center;
}

.menu-list {
    display: flex !important;
    justify-content: center;
}

.menu-list li {
    margin-inline: 10px;
    margin-block: 2rem;
}

.menu-image {

    width: 100%;
    height: 100%;
    border-radius: 10px;
}

main {
    max-width: 1300px;
    margin-inline: auto;
}

img {
    object-fit: cover;
}

.menu {
    display: grid !important;
    justify-content: center;
    padding: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 4rem;
    grid-template-rows: 300px 300px 300px 300px !important;
    margin-inline: auto;
}

@media screen and (min-width: 566px) {
    .menu {
        grid-template-rows: 300px 300px !important;

    }
}

@media screen and (min-width: 768px) {
    .menu {
        grid-template-rows: 300px !important;

    }
}

@media screen and (min-width: 768px) {
    #gridMenu {
        grid-template-rows: 300px 300px !important;

    }
}

.menu-item {
    text-align: center;
}


h2 {
    text-align: center;
    color: #333;
    font-size: 24px;
    font-weight: 600;
}

h3 {
    color: #333;
    font-size: 18px;
    font-weight: 500;
}

.menuItem__desc {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.priceBox {
    background-color: #cf711f;
    color: white;
    padding: 5px;
    font-weight: bold;
    border-radius: 3px;
    width: 40px;
}

/* 
/* beer and wine Page */


.pageTitle {
    font-size: 1rem !important;
}

@media screen and (min-width:926px) {
    .pageTitle {
        font-size: 2rem !important;
    }
}

@media screen and (max-width:768px) {
    .pageTitle {
        font-size: 1.4rem !important;
    }
}

.ourWineTitle {
    margin-top: 5rem;
}

.specialMenuLink {
    margin-block: 3rem !important;
    text-align: center !important;
    display: inline-block;
    width: 100%;
}