body {
    font-family: 'Rubik', sans-serif;
    background-color: #fdf2e9;
    padding: 0;
    margin: 0 !important;
}






ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/* TYPOPGRAHY */

p {
    color: #555;
    font-size: 15px
}

/* NAVIGATION BAR */

.nav {
    /* height: 200px; */
    padding: 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.nav img {
    height: 20px;
}



.nav__link {
    color: #333;
    font-weight: 600;
}

.nav__list {
    width: 100%;
    text-align: center;
}

.nav__list li {
    margin-block: 10px;
}

.nav__list a {
    transition: color .4s ease;
}

.nav__list a:hover {
    color: #cf711f;
}



.open {
    display: block;

}

.hidden {
    display: none;

}

@media screen and (min-width: 768px) {
    .hidden {
        display: flex;
    }


    .nav__list {
        width: auto;
    }

    .nav__list li {
        margin-inline: 16px;
    }

    /* hide hamburger and close icon */
    .nav img {
        display: none;
    }
}


/* hero */



.hero {
    padding: 20px;
    margin-top: 40px;
    max-width: 1300px;
    margin-inline: auto;
}


.hero__desc {
    text-align: center;
}

.hero button {
    background-color: #e67e22;
    color: #fff;
    display: inline-block;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
    padding: 20px 30px;
    border-radius: 9px;
    border: none;
    cursor: pointer;
    margin-bottom: 40px;
    font-family: inherit;
    /* transition: background-color 0.3s; */
    transition: all 0.3s;
}

.hero button:hover {
    background-color: #cf711f;
}

.hero__outline {

    color: #333;
    letter-spacing: -0.5px;
    font-weight: 700;
    font-size: 44px
}

@media screen and (max-width: 768px) {

    .hero__outline {
        font-size: 37px
    }

    .hero p {
        font-size: 16px !important;
    }

}

.hero p {
    font-size: 20px;
    line-height: 1.6;
    /* margin-bottom: 4.8rem; */
}

.hero__img {
    width: 80%;
    display: block;
    margin-inline: auto;
}


@media screen and (min-width: 768px) {
    .hero {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-content: center;
        align-items: center;
        gap: 40px;
        justify-items: center;
    }

    .hero__desc {
        text-align: left;
    }
}


/* resuable classses */
.link {
    color: #333;
    font-weight: 600;
    transition: color .4s ease;
}



.link:hover {
    color: #cf711f;
}



footer {
    margin-top: 100px;
}